@model string

@{
    Layout = "_Layout";
}

    <div asp-validation-summary="All" class="text-danger"></div>
    <main class="main2">
        <p class="role-p">Добавить роль</p>
        <div class="main-container5">
            <form asp-action="Create" method="post">
                <div class="block-list-add-role">
                    <label for="name">NEW ROLE</label>
                    <input type="text" name="name" placeholder="Rolename..." id="">
                </div>
                <button type="submit">ДОБАВИТЬ РОЛЬ</button>
            </form>
        </div>
    </main>