@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "_Layout";
}

<main>
    <p class="lr-p">Список ролей</p>
    <div class="main-container3">
        <div class="block-list">
            @foreach (var role in Model)
            {
                <div class="block-list-role">
                    <p>@role.Name</p>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit">
                            DELETE
                        </button>
                    </form>
                </div>
            }
        </div>
        <a asp-action="Create" asp-controller="Roles">ДОБАВИТЬ РОЛЬ</a>
        <a asp-action="UserList" asp-controller="Roles">СПИСОК ПОЛЬЗОВАТЕЛЕЙ</a>
    </div>
</main>