* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Arimo', sans-serif;
}
.filmIndex {
  padding: 30px 0px;
  display: flex;
}
.filmSection {
    margin: 0 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 28px;
}
    .filmSection a {
        text-decoration: none;
    }
.filmPicture {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.asideBar div {
  margin-right: 32px;
  float: right;
  border: 2px solid #2a2a2a;
  width: 409px;
  height: 147px;
  margin-bottom: 31px;
}