@model FilmLibrary.ViewModels.LoginModel

@{
    Layout = "_Layout";
}


<main>
    <div class="main-container">
        <div class="login">
            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <p>ACCOUNT LOGIN</p>
                <label asp-for="UserName">USERNAME</label>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
                <label asp-for="Password">PASSWORD</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <button type="submit">LOG IN</button>
                <button asp-controller="Account" asp-action="Register">REGISTER</button>
                <a href="">Forgot password?</a>
            </form>
        </div>
    </div>

</main>